<br>
<br>
<br>
<%= form_for @comment do |f| %>
  <p>
    <%= f.label Comment, class: 'commentField' %><br>
    <%= f.text_field :content, class: 'commentField' %>
  </p>

  <p id='submit'>
    <%= f.submit %>
  </p>
<% end %>

